<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="com.lygone.ssm.dao.EmployeeMapper">
    <insert id="save" parameterType="com.lygone.ssm.domain.Employee">
        INSERT INTO employee(empId,empName,gender,hireDate,salary,dept_id) VALUES (#{empId},#{empName},#{gender},#{hireDate},#{salary},#{dept.deptId})
    </insert>

    <select id="findById" resultMap="findEmpOfDeptById">
        SELECT *FROM employee WHERE empId=#{empId}
    </select>
    <resultMap id="findEmpOfDeptById" type="com.lygone.ssm.domain.Employee">
        <id column="empId" property="empId"/>
        <result column="empName" property="empName"/>
        <result column="gender" property="gender"/>
        <result column="hireDate" property="hireDate"/>
        <result column="salary" property="salary"/>
        <association  column="dept_id" property="dept" javaType="com.lygone.ssm.domain.Department" select="com.lygone.ssm.dao.DepartmentMapper.findById">
        </association>
    </resultMap>
    <select id="findAll" resultType="com.lygone.ssm.domain.Employee">
        SELECT *FROM employee
    </select>
    <select id="findByDeptId" resultType="com.lygone.ssm.domain.Employee">
        SELECT *FROM employee WHERE dept_id=#{deptId}
    </select>
</mapper>